README.md
code/week3
code/week5
code/week6
code/week7
code/week7/w07_studentfile.sql
code/week7/week7hw.sql
code/week7/week7hworiginal.sql
code/week7/week7hw1.sql
code/week7/week7hw2.sql
code/week7/week7hw3.sql
code/week8
code/week8/w08_studentfile.sql
code/week8/week8hw.sql
code/week8/week8hworiginal.sql
code/week8/week8hw1.sql
code/week8/week8hw2.sql
code/week8/week8hw3.sql
code/week9
code/week9/w09_studentfile.sql
code/week9/inner,left,right,full join examples.sql
code/week9/week9hw.sql
code/week9/week9hworiginal.sql
code/week9/week9hw1.sql
code/week9/week9hw2.sql
code/week9/week9hw3.sql
code/week10
code/week10/w10_studentfile.sql
code/week10/week10hw.sql
code/week9/week10hworiginal.sql
code/week10/week10hw1.sql
code/week10/week10hw2.sql
code/week10/week10hw3.sql
code/week12
code/week12/subquery_enrollment_example.sql
code/week12/w12_studentfile.sql
code/week12/week12hw.sql
code/week9/week12hworiginal.sql
code/week12/week12hw1.sql
code/week12/week12hw2.sql
code/week12/week12hw3.sql
code/week13
code/week13/w13demo.sql
code/week13/week13hw.sql
code/week13/week13hw1.sql
code/week13/week13hw2.sql
code/week13/week13hw3.sql
databases/
databases/churchupdated.mwb
databases/film24_complete.mwb
databases/reverseengineereddbs.mwb